<nav class="navbar navbar-expand custom-navbar px-2">
  <a  class="navbar-brand px-4 text-light" routerLinkActive="active" routerLink="/verificador/inicio">
    <img [src]="imagePath" alt="logo">
  </a>
  <div class="navbar-collapse">

    <ul class="navbar-nav me-auto">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a routerLinkActive="active" routerLink="/verificador/login" class="nav-link">
          <i class="fa-solid fa-right-to-bracket"></i> Iniciar sesión
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a routerLinkActive="active" routerLink="Consultas/bodegas" class="nav-link">
          <i class="fa-solid fa-magnifying-glass"></i> Consultas
        </a>
      </li>
    </ul>
</div>
  <div class="profile-logo dropdown" *ngIf="isLoggedIn" >
      <button class="btn btn-outline-light dropdown-toggle" role="button"
       data-bs-toggle="dropdown"> {{nombre}}
          <i class="fa-solid fa-right-from-bracket"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
          <li><a href="#" class="dropdown-item">Mi perfil</a></li>
          <li><a (click)="logout()" class="dropdown-item">Cerrar</a></li>
      </ul>
  </div>
</nav>
