<main>
    <div>
      <span>Celebra con estilo y alegría.</span>
      <h1>Importadora Cumpleaños</h1>
      <hr>
      <p>Todo para sus fiestas y momentos especiales.</p>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide--one">
          <div>
            <h2>Importadora Cumpleaños</h2>
            <p>Somos una importadora de artículos de fiesta comprometida en hacer que cada celebración sea inolvidable.</p>
            <img [src]="fondoPath" alt="Globos" class="swiper-slide-image">
          </div>
        </div>
        <div class="swiper-slide swiper-slide--two">
          <div>
            <h2>Cajas de regalo</h2>
            <p>Nuestras cajas de regalos son el complemento perfecto para sorprender a tus seres queridos en su día especial</p>
            <img [src]="cajaRegalo" alt="Globos" class="swiper-slide-image">
          </div>
        </div>
        <div class="swiper-slide swiper-slide--three">
          <div>
            <h2>Fiesta</h2>
            <p>La decoración es esencial para crear un ambiente festivo en cualquier evento.</p>
            <img [src]="globos" alt="Globos" class="swiper-slide-image">
          </div>
        </div>
        <div class="swiper-slide swiper-slide--four">
          <div>
            <h2>Decoracion</h2>
            <p>Todo lo que necesitas para transformar cualquier espacio en un lugar lleno de alegría y color.</p>
            <img [src]="decoracion" alt="Globos" class="swiper-slide-image">
          </div>
        </div>
        <div class="swiper-slide swiper-slide--five">
          <div>
            <h2>Disfraces</h2>
            <p>Cajas decorativas hasta cajas sorpresa, encontrarás opciones creativas y encantadoras para presentar tus obsequios con estilo.</p>
            <img [src]="caja_Regalo" alt="Globos" class="swiper-slide-image">
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <img [src]="decoracion" alt="dec" class="bg">
    <img [src]="globos" alt="glob" class="bg2">
  </main>
  